* {
  margin: 0;
  /* box-sizing: border-box; */
}

.body {
  position: relative;
  /* height: 100vh; */
}

.card {
  min-width: 40%;
  /* max-width: 50%; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 14px;
  height: 60vh;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
  display: flex;
  width: 100%;
}

.search-bar > input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1.2px solid grey;
  padding: 10px;
  margin-right: 10px;
}

.btn {
  background: rgb(189, 226, 198);
  color: rgb(75, 72, 72);
  cursor: pointer;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
}
