* {
  margin: 0;
  /* box-sizing: border-box; */
}

.body {
  position: relative;
  /* height: 100vh; */
}

.card {
  min-width: 40%;
  /* max-width: 50%; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 14px;
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
  display: flex;
  width: 100%;
}

.search-bar > input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1.2px solid grey;
  padding: 10px;
  margin-right: 10px;
}

.btn {
  background: rgb(189, 226, 198);
  color: rgb(75, 72, 72);
  cursor: pointer;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
}

.list-container {
  margin-top: 15px;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.update-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.update-div > input[type="checkbox"] {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
}

.update-div > button {
  background: transparent;
  border: none;
  color: rgb(206, 56, 56);
  font-size: 19px;
}

.footer-btn {
  position: absolute;
  bottom: 10px;

  background: rgb(101, 171, 228);
  color: rgb(252, 247, 247);
  cursor: pointer;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  padding: 10px 0;
  width: 90%;
}
